.container_modal {
  margin: 0 auto;
  position: absolute;
  width: 100%;
 height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(49, 45, 45, 255);
  box-shadow: 0px 0px 6px 5px rgba(4, 4, 4, 0.46);
  z-index: 2;

  .modal {
    width: 515px;
    min-height: 252px;
    border-radius: 8px;
    background-color: rgba(231, 75, 59, 255);

    &_header {
      padding: 26px 34px 18px;
      font-size: 22px;
      line-height: 60px;
      font-weight: 500;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      display: flex;
      justify-content: space-between;
      background-color: rgba(212, 70, 55, 255);
    }

    &_close {
      width: 12px;
      height: 12px;
      cursor: pointer;
    }
    &_text {
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      padding: 41px 34px 20px;
    }
    .modal_buttons {
      display: flex;
      justify-content: center;
      button {
        margin: 0px 8px 20px;
        width: 101px;
        height: 41px;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        color: white;
        border: none;
      }
    }
  }
}
