.list_item {
  width: 262px;
  margin: 15px 15px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid rgb(145, 140, 140);
  cursor: pointer;

  &_img {
    width: 150px;
    height: 150px;
  }
  
 .list_info {
display:flex ;
flex-wrap: wrap;
align-items: center;

  }

  .info_icon_star {
    margin-left: 5px;
    cursor: pointer;
  }

  .info_price{
margin-top: 20px;
  }
}
