ul {
  padding: 0;
  list-style: none;
}
h3 {
  font-size: 16px;
  font-weight: 600;
}
button {
  border: none;
}
body {
  margin: 0;
  font-family: "Lato", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", monospace;
}
