body {
  margin: 0 auto;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif, monospace;
}
p {
  margin: 0;
}
button {
  cursor: pointer;
}
#root {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
